{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>{{ app_name }}</title>
{% endblock meta %}

{% block title %}Home{% endblock %}

{% block content %}
<h2 class="mb-3">Welcome, {{ username }}</h2>
<p><strong>Last Login:</strong> {{ last_login|date:"Y-m-d H:i" }}</p>


<!-- add product -->
<p>
    <a href="{% url 'main:add_product' %}">
        <button type="button">Add Product</button>
    </a>
</p>


<h3 class="mt-4">Available Products</h3>

{% if products %}
<div class="row">
    {% for product in products %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            {% if product.thumbnail %}
            <img src="{{ product.thumbnail }}" class="card-img-top" alt="{{ product.name }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description|truncatewords:15 }}</p>
                <p class="fw-bold text-success">Rp{{ product.price }}</p>
                <p><em>Category: {{ product.category }}</em></p>
                <p><em>Featured: {{ product.is_featured }}</em></p>
                <div class="d-flex justify-content-between">
                <a href="{% url 'main:product_detail' product.id %}" class="btn btn-primary btn-lg w-25 text-dark">Detail</a>
                <a href="{% url 'main:edit_product' product.id %}" class="btn btn-warning btn-lg w-25 text-dark">Edit</a>
                <a href="{% url 'main:delete_product' product.id %}" class="btn btn-danger btn-lg w-25 text-dark">Delete</a>


                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<!-- No Product pciture handling -->
<div class="text-center">
    <img src="{% static 'images/no_product.png' %}" alt="No products" width="150">
    <p class="mt-2">No products available. Add some!</p>
</div>
{% endif %}
{% endblock %}
